.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.x-large {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.large {
  font-size: 2.7rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: #17a2b8;
}
.text-dark {
  color: #42484f;
  font-size: 1.2rem;
}
.round-img {
  border-radius: 50%;
}
.final-photo {
  height: 320px;
  width: 400px;
  display: flex;
  margin: auto;
  overflow: hidden;
}
.text-left {
  display: flex;
  text-align: start;
  letter-spacing: 0.1rem;
}
.underline {
  text-decoration: underline;
}
.bg-primary {
  background-color: #17a2b8;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #42484f;
  color: #fff;
}
.bg-dark2 {
  background-color: #6d6d6d;
  -webkit-text-stroke: 0.5px #17a2b8;
  -webkit-text-fill-color: #fff;
}
.bg-danger {
  background-color: #cd0f0f;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 0px solid;
}
.bg-w {
  background-color: #fff;
  color: #333;
  border: #17a2b8 1px solid;
}
.bg-img {
  background: url('./img/Repet-backround.png') center center/cover;
  height: 100vh;
  background-size: 30rem;
  background-attachment: fixed, scroll;
  background-repeat: repeat;
  background-position: 0rem;
}

.bg-img-s {
  background: url('./img/Repet-backround.png') center center/cover;
  background-size: 30rem;
  background-attachment: fixed, scroll;
  background-repeat: repeat;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.3s ease-in;
}
.btn.btn-primary {
  background-color: #17a2b8;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #1ab6cf;
}
.btn.btn-dark {
  background-color: #42484f;
  color: #fff;
}
.btn.btn-light {
  background-color: rgb(224, 224, 224);
  color: #42484f;
}
.btn.btn-dark:hover {
  background: #4e555d;
}
.btn.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn.btn-success:hover {
  background: #2dbc4e;
}
.btn.btn-danger {
  background-color: #cd0f0f;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #ef2020;
}
.btn.btn-upload {
  background-color: #17a2b8;
  color: #fff;
}
.btn.btn-upload:hover {
  background: #1fc8e3;
}
.btn:hover {
  background: #707b87;
  color: #fff;
}
.center-item {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 0 6rem;
}
.alert {
  padding: 0.7rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}
.alert-wrapper {
  position: relative;
  margin: 0 6rem;
  text-align: center;
  top: 5rem;
}

.alert.alert-primary {
  background-color: #17a2b8;
  color: #fff;
}
.alert.alert-dark {
  background-color: #42484f;
  color: #fff;
}
.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert.alert-danger {
  background-color: #cd0f0f;
  color: #fff;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  text-decoration: none;
  color: #17a2b8;
}
ul {
  list-style: none;
}
img {
  width: 150px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 2px #17a2b8;
  opacity: 0.92;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.65rem;
  margin: 0 0.25;
}
.navbar a:hover {
  color: #17a2b8;
}
.landing {
  position: relative;
  background: url('./img/pexels-lukas-349609.jpg') no-repeat center center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.post-form-header {
  padding: 0.5rem;
}
.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 6rem;
  border: 1px solid;
  margin: 2rem 10rem;
}
.post > div:first-child {
  text-align: center;
}
.ingredients-direcions {
  display: block;
  text-align: center;
}
i {
  margin-right: 0.1rem;
}
input[type='file'] {
  display: none;
}
.comments {
  margin: 0.5;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 3rem;
  align-items: center;
  background-color: #fff;
  border: 1px solid;
}

.center {
  display: grid;
  margin: auto;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
}

.center-text {
  display: grid;
  margin: auto;
  align-items: center;
  text-align: center;
}
.center-click {
  cursor: pointer;
}
.center-click:hover {
  background-color: #4cd3e9;
}

.glory-w:hover {
  cursor: default;
  text-shadow: 1px 1px 10px #1ab6cf, 1px 1px 10px #17a2b8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #ffffff;
}

.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.glory-b:hover {
  cursor: default;
  text-shadow: 0px 0px 30px rgb(0, 213, 255), 0px 0px 30px white,
    0px 0px 30px white, 0px 0px 10px #00d9ff, 0px 0px 10px #553300;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: #ffffff;
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .navbar {
    display: block;
    text-align: center;
    padding: 0.6rem 2rem;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: 0.5rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .profile {
    grid-template-columns: 1fr;
  }
  .ingredients-direcions {
    display: flex;
    flex-direction: column;
  }
  .round-img {
    display: grid;
    max-width: 100%;
  }
  .fit-img {
    display: grid;
    max-width: 100%;
  }
}

.dash-buttons {
  background-color: #fff;
  margin-bottom: 0.5rem;
}
